*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(115deg, rgba(101, 115, 209,0.8), rgba(202, 102, 211,0.5);
}
